 p>a{
        text-decoration: none;
        color:gray;
    }
    p>a:hover{
        text-decoration: none;
        color:dimgray;
    }
    h4{
        font-weight: bold;
    }
   
    .titulo{ 
        border-bottom: 1px solid #9f9b9b;
        margin-bottom: 2em;
    }
    .subtitulo{
            font-weight: bold;
    }
    .thumbnail{
        border: none;
    }
    
    .leermas{
        display: none;
        
    }
    .imagen{
        width: 100%;
        height: 150px;
        margin: 0 auto;
    }
    .imagen:hover .mask{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
    }
    .imagen:hover .mask>.leermas{
        background: #000;
        color: #fff;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 12px; 
        text-decoration: none;
        padding: 7px 14px;
        margin-top: 25%;
    }
    #uno{
        background-image: url(http://www.libros.unam.mx/media//cuentacuento.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }
    
    #dos{
        background-image: url(http://www.libros.unam.mx/media//banner-LA-art-book.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }
    
    #tres{
        background-image: url(http://www.libros.unam.mx/media//fil.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }
    #cuatro{
        background-image: url(http://www.libros.unam.mx/media//banner-distrito.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }
    