body {
    margin: 0px;
    padding: 0px;
}

.menu_toggle {
    overflow: none;
    font-family: verdana;
    font-size: 1em;
    font-weight: 200;
    background-color: white;
    position: relative;
    top: 0px;
    width: 100%;
    height: 100%;
    color: #23282e;
}

.menu_toggle .brand {
    background-color: white;
    line-height: 100px;
    display: block;
    text-align: center;
    font-size: 14px;
}

.menu_toggle .toggle-btn {
    display: none;
}

.menu_toggle ul,
.menu_toggle li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 40px;
    cursor: pointer;
}

ul.menu-toggle-content li>span {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.menu_toggle ul .sub-menu li,
.menu_toggle li .sub-menu li {
    background-color: white;
    border: none;
    line-height: 30px;
    border-bottom: 1px solid #d1d3d4;
    margin-left: 20px;
}

.menu_toggle ul .sub-menu li:hover,
.menu_toggle li .sub-menu li:hover {
    background-color: rgba(85, 93, 101, 0.17);
}

.menu_toggle ul .sub-menu li:before,
.menu_toggle li .sub-menu li:before {
    font-family: FontAwesome;
    display: inline-block;
    padding-left: 20px;
    padding-right: none;
}

.menu_toggle li {
    padding-left: 20px;
    border-left: none;
    border-bottom: 1px solid #d1d3d4;
}

.menu_toggle li a {
    text-decoration: none;
    color: #23282e;
}

.menu_toggle li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}

.menu_toggle li:hover {
    background-color: rgba(85, 93, 101, 0.17);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

ul.sub-menu li>a {
    color: #23282e;
    font-size: .9em;
}

ul.sub-menu-2 li {
    background-color: white;
    border: none;
    line-height: 300px;
    border-bottom: 20px solid #d1d3d4;
    margin-left: 40px !important;
}

ul.sub-menu-2 li:hover {
    background-color: rgba(85, 93, 101, 0.17);
}

ul.sub-menu-2 li:before {
    font-family: FontAwesome;
    display: inline-block;
    padding-left: 500px;
    padding-right: none;
    vertical-align: middle;
    
}

@media (max-width: 1260px) {
    .menu_toggle {
        width: 100%;
        margin-bottom: 10px;
        background-color: transparent;
        right: 10px;
        top: 10px;
    }
    .toggle-btn {
        display: block !important;
        cursor: pointer;
        position: relative;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #4f5b69;
        width: 40px;
        text-align: center;
    }
}