html {}

header {
    position: relative;
    width: 100%;
    margin: auto;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.top-links {
    width: 100%;
    background: #454545;
    border-bottom: 4px solid #cccccc;
    border-radius: 0;
}


.quitar-border {
    border-radius: 0px;
}

.welcome-msg {
    font-size: 12px;
    color: #aaa;
    float: left;
    border-right: 1px #999 solid;
    padding-left: 28px;
}

.toplinks {
    padding: 0;
    display: inline-block;
    float: right;
    margin-left: 15px;
    line-height: normal;
}

.iconos {
    font-size: 13px;
    padding-right: 6px;
    color: #aaa;
}

.super {
    padding: 0;
}

.navbar-inverse .navbar-nav >  .lista > .overscroll{
    color: #fff;
}

.navbar-inverse .navbar-nav >  .lista > .overscroll:hover{
    color: #f42434;
    transition-duration: .4s;
}

.lista{
    text-shadow: none !important;
    font-size: 12px
}

.loggin {
    border-right: none;
}

@media screen and (max-width: 998px) {
    .welcome-msg {
        font-size: 0px;
        border-right: none;
        height: 0;
    }
   /*.resp > li {
        border-right: none;
        text-shadow: none !important;
        font-size: 12px;
        border-right: 1px #999 solid;
    }*/

}

.icono-collaps {
       float:none !important; 
       border-color:#454545 !important;
       
}

.resp1 {
    padding: 0px 12px 0px 12px;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #454545;
}