div.container-fluid a:hover {
    background: rgba(0, 0, 0, 0.9) !important;
    transition-duration: 1s;
    color: white !important;
}

.botton-hamburguer {
    width: 50px;
    height: 50px;
    display: none;
    visibility: hidden;
}

div.nav-menu-principal {
    padding: 0px;
    margin: 0px;
}

#bs-example-navbar {
    padding: 0px;
    margin: 0px;
}

nav.navbar-principal ul.container {
    padding: 0px;
    margin: 0px;
}

div.nav-menu-principal >ul.navbar-nav>li>a {
    color: #333;
}

div.nav-menu-principal >ul.navbar-nav>li {
    border-right: 1px solid #d4d3d3;
}



nav.navbar-principal {
    background-color: transparent;
    border-bottom: 4px solid #101010 !important;
    border-left: none;
    border-right: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: 15px;
    font-weight: bold;
}

#bs-example-navbar > li.dropdown > a.dropdown-toggle >span {
    visibility: hidden;
}

ul.container ul li {
    color: blue !important;
}

nav.navbar-principal > div {
    padding-left: 0px;
}


/*modificación de fausto*/

table.table {
    margin-top: 15px;
}

table.table tr {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    background: none;
    color: white;
}

table.table>tbody>tr>td,
table.table>tbody>tr>th,
table.table>tfoot>tr>td,
table.table>tfoot>tr>th {
    border: 0;
    padding-left: 180px;
}

.table>thead>tr>td,
.table>thead>tr>th {
    border-bottom: 1px solid grey;
    font-weight: bold;
}

<link rel="stylesheet" href="css/style_footer.css" .table>tfoot>tr>td,
.table>tfoot>tr>th {
    border-bottom: 1px solid grey;
    font-weight: bold;
}


/* //modificación de fausto*/

.form-control {
    color: #333;
    background: #f1f1f1;
    border: none;
    font-weight: normal;
}

.navbar-toggle {
    float: left !important;
}

#custom-search-input {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    width: 250px;
    height: 30%;
    float: right;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #333;
    z-index: 3;
}

@media (max-width: 1200px) {
    .botton-hamburguer {
        width: 50px;
        height: 50px;
        visibility: visible;
        display: inline-block;
    }
    nav.navbar-principal {
        padding-bottom: 5px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .collapse.in {
        display: block !important;
    }
    #bs-example-navbar > li.dropdown > a.dropdown-toggle >span {
        float: right;
        visibility: visible;
    }
    #custom-search-input {
        /*barra de busqueda  */
        margin: 0;
        margin-top: 10px;
        padding: 0;
        width: 300px;
        height: 30%;
        float: right;
    }
}

@media (min-width: 1200px) {
    ul.dropdown-menu {
        width: 1000px;
        height: 300px;
        left: -150px;
    }
    ul.dropdown-menu li {
        display: inline-block;
        width: 490px;
        height: 70px;
    }
    ul.dropdown-menu >li >a {
        width: 490px;
        height: 70px;
        align-content: center;
        padding-left: 30%;
        padding-top: 5%;
    }
}

@media (max-width: 408px) {
    #custom-search-input {
        /* barra de busqueda  */
        margin: 0;
        margin-top: 10px;
        padding: 0;
        width: 100px;
        height: 30%;
        float: right;
    }
}

table.table a {
    color: white;
}


/*Salomon*/

.fondo1 {
    background: #14b1a6;
    padding: 10px;
}

.fondo2 {
    background: #e50446;
    padding: 10px;
}

.fondo3 {
    background: #97c11f;
    padding: 10px;
}

.margen {
    border: 2px dotted white;
    text-align: center;
}

h2 {
    color: white;
}


/*Salomon*/

.espacio {
    margin-top: 10px;
    margin-bottom: 20px;
}

.espacio h2 {
    color: white;
}