* {
    margin: 0;
    padding: 0;
}

.pie {
    background-color: black;
    color: white;
}


/*ul li{
    color: #909090;
    margin-left: 5%;        
    margin-top: 1em;
}*/

a:link {
    color: #909090;
    text-decoration: none;
}

a:visited {
    color: #909090;
    text-decoration: none;
}

ul li a:hover {
    color: #cb0404;
    transition-duration: .5s;
    text-decoration: none;
}

.social {
    margin: 1em;
}

.espacio {
    margin-top: 10px;
    margin-bottom: 10px;
}

.carac small {
    color: #008000;
}

.carac {
    color: #333333;
}

.carac h2 {
    color: #f42434;
}

.carac h4 {
    color: #f42434;
}

.bordes {
    border: 1px solid #eaeaea;
}

.bordes2 {
    background: #f8f8f8;
}

.espacio-bl .row {
    margin-top: 100px;
}




/** stilos para comite-editorial.html*/
div.panel-default >div.panel-heading {
    padding: 0 !important;
}

div.panel-default >div.panel-heading >h4 {
    width: inherit;
    height: inherit;
    padding: 0px !important;
}

div.panel-default >div.panel-heading >h4>a {
    padding: 10px !important;
    display: block;
    color: #337ab7;
}

div.panel-default >div.panel-heading >h4>a:hover {
    color: #023867;
}

div.panel-default >div.panel-collapse {
    padding-left: 3%;
    padding-right: 3%;
}

div.panel-default >div.panel-collapse >div.panel-body > ul {
    padding-left: 4%;
    text-align: justify;
}

div.panel-default >div.panel-collapse >div.panel-body > ul> li>ul {
    padding-left: 3%;
    text-align: justify;
}

div.panel-default >div.panel-collapse >div.panel-body > p {
    text-align: justify;
}

.lista-sin-punto >li {
    list-style: none;
}

.lista-con-espacio >li {
    margin-left: 4%;
}
/** stilos para comite-editorial.html*/

/*los estilos del pdf los pase al style_body2---no te vayas a espantar walter XD*/