.thumbnail {
    border: none;
}

.titulo {
    border-bottom: 1px solid #9f9b9b;
    margin-bottom: 2em;
}

.leermas {
    display: none;
}

.imagen {
    width: 100%;
    height: 150px;
    margin: 0 auto;
}

.mask-slider {
    display: none;
}

.imagen:hover .mask-slider {
    display: block;
    width: 100%;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    transform: translatey(112px);
}


/*.imagen:hover .mask>.leermas{
    color: #fff;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px; 
    text-decoration: none;
    padding: 7px 14px;
    
}*/

.imagen:hover .mask-slider a span {
    border-left: .5px groove #fff;
    font-size: 22px;
    width: 50%;
    height: 100%;
    color: white;
    padding: 5px;
}

.product-slider-a span:hover {
    background-color: rgba(255, 0, 0, 0.8);
    border-left: .5px groove #fff;
    font-size: 22px;
    color: white;
}

.caption {
    text-align: center;
}

.subtitulo {
    font-weight: bold;
}

#uno {
    background-image: url(http://www.libros.unam.mx/media//cuentacuento.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#dos {
    background-image: url(http://www.libros.unam.mx/media//banner-LA-art-book.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#tres {
    background-image: url(http://www.libros.unam.mx/media//fil.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cuatro {
    background-image: url(http://www.libros.unam.mx/media//banner-distrito.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*.......................*/


/** Carousel **/

.jcarousel {
    overflow: hidden;
}

.jcarousel ul {
    width: 40000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
    width: 100px;
}


/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    background-color: black;
    padding: 5px 10px;
    font-size: 20px;
}

.jcarousel-control-prev:hover,
.jcarousel-control-next:hover {
    color: white;
    text-decoration: none;
}

.jcarousel-control-prev {
    color: white;
    left: 15px;
}

.jcarousel-control-next {
    color: white;
    right: 15px;
}


/** Comite-editorial-interno LINEAMIENTOS ESTILOS **/

.margen-panel-body {
    padding-left: 50px !important;
}

.margen-h-body {
    padding-left: 25px;
}

.margen-super-body {
    padding-left: 60px;
}

.none-style {
    text-decoration: none;
}

.none-style:hover,
.none-style:focus,
.none-style:active {
    text-decoration: none;
}

.none-style:focus {
    outline-style: none;
}

.margen-panel-body {
    padding-left: 50px;
}


/* PDFObject automatically assigns the class name "pdfobject" to the <embed> element */


/*
PDFObject appends the classname "pdfobject-container" to the target element.
This enables you to style the element differently depending on whether the embed was successful.
*/

.pdfobject-container {
    top: 20px;
    margin-left: 11%;
    position: fixed;
    width: 70%;
    height: 600px;
    z-index: 100;
}


/* PDFObject automatically assigns the class name "pdfobject" to the <embed> element */

.pdfobject {
    border: solid 1px #666;
}

#lineamientos {
    float: right;
    padding: .8%;
    visibility: visible;
    margin-top: 1%;
    display: inline;
}

#lineamientos-2 {
    float: right;
    padding: .8%;
    visibility: hidden;
    margin-top: .1%;
    display: none;
}

#lineamiento-header {
    width: 80%;
    display: inline-block;
}

@media (max-width:700px) {
    #lineamiento-header {
        width: 80% !important;
        font-size: 1.5em;
        font-weight: bold;
        display: inline-block;
    }
    #lineamientos {
        visibility: hidden;
        display: none;
        margin-top: 1%;
    }
    #lineamientos-2 {
        visibility: visible;
        display: inline-block;
        margin-top: 1%;
    }
}

@media(max-width:341px) {
    #lineamientos,
    #lineamientos-2 {
        margin-top: 10%;
    }
    #lineamiento-header {
        margin-bottom: 10%;
    }
}

#pdf_view {
    padding: 5% 10% 3% 5%;
    background-color: rgba(0, 0, 0, 0.74);
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 100%;
    visibility: hidden;
}

#cerrar >button {
    height: inherit;
    width: inherit;
    position: fixed;
    z-index: 100;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background-color: rgba(72, 68, 68, 0.15);
    border-color: rgba(72, 68, 68, 0.15);
    !important;
}

#cerrar {
    height: 50px;
    width: 40px;
    position: absolute;
    z-index: 10000;
    right: .5%;
    top: .10%;
    margin: 0;
    padding: 0;
}