/*
Theme Name: Portal Editorial
Description:  Portal Editorial page
version:1.0.0.0
Template: wp-portal-editorial
Author: CIDWA
*/


*{
    margin: 0;
    padding: 0;
}

.pie{
    background-color: black;
    color: white;
}
    
/*ul li{
    color: #909090;
    margin-left: 5%;        
    margin-top: 1em;
}*/

a:link{
    color: #909090;
    text-decoration: none;
}

a:visited{
    color: #909090;
    text-decoration: none;
}

ul li a:hover{
    color: #cb0404;
    transition-duration: .5s;
    text-decoration: none;
}

.social{
    margin: 1em;
}

.espacio {
    margin-top: 10px;
    margin-bottom: 10px;
}


.carac small{
    color: #008000;
}
.carac {
        color: #333333;
}
.carac h2{
    color: #f42434;
}

.carac h4{
    color: #f42434;
}





.bordes {
    border: 1px solid #eaeaea;
    
}

.bordes2 {
    background: #f8f8f8;
}
